<body>
    <div>
        <h1> Coin to Update </h1>
        <h2> Current Coin Information </h2>
    </div>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <table> 
            <thead>
                <tr>
                    <th class="currentcoinsales">Denomination</th>
                    <th class="currentcoinsales">Description</th>
                    <th class="currentcoinsales">Condition</th>
                    <th class="currentcoinsales">Price</th>   
                    <th class="currentcoinsales">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="currentcoinsales"> <%= @cointoerase.denomination %>  </td>
                    <td class="currentcoinsales"> <%= @cointoerase.description %>  </td>
                    <td class="currentcoinsales"> <%= @cointoerase.condition %>  </td>
                    <td class="currentcoinsales"> <%= @cointoerase.price %>  </td>
                    <td class="currentcoinsales"> <%= image_tag @cointoerase.picture if @cointoerase.picture.attached? %> 
                </tr>
            </tbody> 
         </table>
    </div>
    </div>
    <div>
        <h1> UPDATE COINS </h1>
    </div>
    <div>
        <%= form_with(model: @destroyedcoin, local: true) do |form| %>
        <div>
            <%= form.label :description %>
            <%= form.text_field :description, class:"rob"%> 
        </div>
        <div class = "formelements">
            <%= form.label :denomination %>
            <%= form.text_field :denomination, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= form.label :mint_year %>
            <%= form.text_field :mint_year, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= form.label :condition %>
            <%= form.number_field :condition, max: 5, min:0, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= form.label :price %>
            <%= form.text_field :price, class:"conditionsearchbar" %>
        </div>
        <div>
            <%= form.label :picture %> 
            <%= form.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
        </div>
            <%-# can add on the ability to add images as a strech goal if time allow for it -%>
        <div class = "formelements">
            <%= submit_tag("Update Coin") %>
        </div>
    </div>
    <div>
    <%= link_to 'Back', listing_path %>
    </div>
</body>
<%end %>

