
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <h1> MY COINS </h1>
    </div>
    <div>
        <h2> ADD A NEW COIN FOR SALE </h2>
    </div>
    <%= form_with(model: @newcoin, local: true) do |form| %>
    
    <div>
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
    <div>
        <%= form.label :denomination %>
        <%= form.text_field :denomination %>
    </div>
    <div>
        <%= form.label :mint_year %>
        <%= form.text_field :mint_year %>
    </div>
    <div>
        <%= form.label :condition %>
        <%= form.number_field :condition, max: 5, min:0 %>
   
    </div>
    <div>
        <%= form.label :price %>
        <%= form.text_field :price %>
    </div>
    <%-# can add on the ability to add images as a strech goal if time allow for it -%>
    <div>
        <%= submit_tag("List Coin") %>
    </div>
    <div>
        <h2> MY CURRENT COINS FOR SALE </h2>
    </div>
 
<% end %>






    </div>
    <div>
        <footer class="footer">
        <a href="#top">Back to Top</a>
        <p> Posted by: Robbie Colborne</p>
        &copy; Copyright Robbie Colborne.
        </footer>
    </div>
</body> 