
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>

    <%if user_signed_in?%>
    <div>
        <h1 class= "headings"> List Coin For Sale </h1>
    </div>
    <div class= "forms">
        <%= form_with(model: @newcoin, local: true) do |table| %>
        <div class = "formelements">
            <%= table.label :description %>
            <%= table.text_field :description, class:"rob"%> 
        </div>
        <div class = "formelements">
            <%= table.label :denomination %>
            <%= table.text_field :denomination, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :mint_year %>
            <%= table.text_field :mint_year, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :condition %>
            <%= table.number_field :condition, max: 5, min:0, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :price %>
            <%= table.text_field :price, class:"conditionsearchbar" %>
        </div>
        <div>
            <%= table.label :picture %> 
            <%= table.file_field :picture, accept:'image/png,image/gif,image/jpeg,image/jpg' %>
        </div>
            <%-# can add on the ability to add images as a strech goal if time allow for it -%>
        <div class = "formelements">
            <%= submit_tag("List Coin") %>
        </div>
    </div>
     <% end %>
    <div>     
        <h2 class="headings"> MY CURRENT COINS FOR SALE </h2>
    </div>
    <div class= "forms">
        <table> 
            <thead>
                <tr>
                    <th class="currentcoinsales">Denomination</th>
                    <th class="currentcoinsales">Description</th>
                    <th class="currentcoinsales">Condition</th>
                    <th class="currentcoinsales">Price</th>   
                    <th class="currentcoinsales">Image</th>
                    <th class="currentcoinsales">Update Coin</th>
                    <th class="currentcoinsales">Delete Coin</th>
                </tr>
            </thead>
            <tbody>
                <%if user_signed_in?%>
                <% @usercoins.each do |coin| %>
                <tr>
                    <td class="currentcoinsales"> <%= coin.denomination %>  </td>
                    <td class="currentcoinsales"> <%= coin.description %>  </td>
                    <td class="currentcoinsales"> <%= coin.condition %>  </td>
                    <td class="currentcoinsales"> <%= coin.price %>  </td>
                    <td class="currentcoinsales"> <%= image_tag coin.picture if coin.picture.attached? %> 
                    <td class="currentcoinsales"> <%= link_to "Update Coin", editcoin_path(coin.id) %> 
                    <td class="currentcoinsales"> <%= link_to "Delete Coin", deletecoin_path(coin.id) %> 
                                         
                    
                    </td>
                </tr>
                <% end %>
                <% end %>
            
            </tbody>
        </table>
    </div>
    <div>
     <% end %>
    <div>
<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as<%= current_user.email %>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
<div>
    <h1> Sign In or Register To Sell Your Coins! </h1>
</div>
<div>
  <section class="buttonloginsignin">
  <%= link_to "LOGIN", new_user_session_path, class:"searchandlogin1" %> 
  </section>
  <section class="buttonloginsignin">
  <%= link_to "REGISTER", new_user_registration_path, class:"searchandlogin1"  %> 
  </section>
</div>
<% end %>
</p>
    <div>
        <footer class="footer">
            <a href="#top">Back to Top</a>
            <p> Posted by: Robbie Colborne</p>
            &copy; Copyright Robbie Colborne.
        </footer>
    </div>
</body> 