
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <h1 class= "headings"> MY COINS </h1>
    </div>
    <div>
        <h2 class= "headings"> ADD A NEW COIN FOR SALE </h2>
    </div>
    <div class= "forms">
        <%= form_with(model: @newcoin, local: true) do |table| %>
        <div class = "formelements">
            <%= table.label :description %>
            <%= table.text_field :description, class:"rob"%> 
        </div>
        <div class = "formelements">
            <%= table.label :denomination %>
            <%= table.text_field :denomination, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :mint_year %>
            <%= table.text_field :mint_year, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :condition %>
            <%= table.number_field :condition, max: 5, min:0, class:"conditionsearchbar" %>
        </div>
        <div class = "formelements">
            <%= table.label :price %>
            <%= table.text_field :price, class:"conditionsearchbar" %>
        </div>
            <%-# can add on the ability to add images as a strech goal if time allow for it -%>
        <div class = "formelements">
            <%= submit_tag("List Coin") %>
        </div>
    </div>

     <% end %>
    <div>     
        <h2 class="headings"> MY CURRENT COINS FOR SALE </h2>
    </div>
    <div class= "forms">
        <table> 
            <thead>
                <tr>
                    <th class="currentcoinsales">Denomination</th>
                    <th class="currentcoinsales">Description</th>
                    <th class="currentcoinsales">Condition</th>
                    <th class="currentcoinsales">Price</th>   
                </tr>
            </thead>
            <tbody>
                <% @usercoins.each do |coin| %>
                <tr>
                    <td class="currentcoinsales"> <%= coin.denomination %>  </td>
                    <td class="currentcoinsales"> <%= coin.description %>  </td>
                    <td class="currentcoinsales"> <%= coin.condition %>  </td>
                    <td class="currentcoinsales"> <%= coin.price %>  </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div>
        <footer class="footer">
            <a href="#top">Back to Top</a>
            <p> Posted by: Robbie Colborne</p>
            &copy; Copyright Robbie Colborne.
        </footer>
    </div>
</body> 
