<div class="topnav"> 
    <%= link_to("Home", root_path) %>
    <%= link_to("Buy Coins", buycoins_path) %>
    <%= link_to("Sell Coins", listing_path) %>
    <%= link_to("Sign in/Register", signin_path) %>
    <%= link_to("Contact Us", contactus_path) %>
</div>


  