
<div class="topnav"> 
    <%= link_to("Home", root_path) %>
    <%= link_to("Sell Coins", listing_path) %>
    <%= link_to("Buy Predecimal Coins", predecimal_path) %>
    <%= link_to("Buy Postdecimal Coins", postdecimal_path) %>
    <%= link_to("Sign in/Register", signin_path) %>
</div>


  