<!DOCTYPE html>
<html>
  <head>
    <title>CoinMarketplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <div>
        <%= render "shared/nav_bar" %>
    </div>
<div>
  <h1> SIGN IN OR REGISTER <h1>
</div>
<div>
  <h2> Make a new account or sign-in to your existing account! </h2>
</div>

<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as<%= current_user.email %>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% if false %>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="/ideas">Ideas</a>
    </li>
    ...
  </ul>
<% end %>
 <div>
    <footer class="footer">
        <a href="#top">Back to Top</a>
        <p> Posted by: Robbie Colborne</p>
        &copy; Copyright Robbie Colborne.
    </footer>
</div>
  </body>
</html>
