<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <h1> CONTACT US </h1> 
    </div>
    <div class="alignleft">
        <h2> PHONE <h2>
         <%= image_tag ("contactmephone.jpg")%>
    </div>
    <div class="searchbar">
        <h2> EMAIL <h2>
        <%= image_tag ("contactmeemail.jpg")%>
    </div>
    <div class="alignright">
        <h2> FACEBOOK <h2>
        <%= image_tag ("contactmefacebook.jpg")%>
    </div>
    <div>
        <%= render "shared/footer" %>
    </div>
</body>

