<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <h1> Our Current Coins For Sale </h1>  
    </div>


    <div class= "forms">
        <table> 
            <thead>
                <tr>
                    <th class="currentcoinsales">Denomination</th>
                    <th class="currentcoinsales">Description</th>
                    <th class="currentcoinsales">Condition</th>
                    <th class="currentcoinsales">Price</th>   
                    <th class="currentcoinsales">Picture</th>  
                    <th class="currentcoinsales">Buy</th>  
                </tr>
            </thead>
            <tbody>
             <tbody>
                <% @coins.each do |coin| %>
                <tr>
                    <td class="currentcoinsales"> <%= coin.denomination %>  </td>
                    <td class="currentcoinsales"> <%= coin.description %>  </td>
                    <td class="currentcoinsales"> <%= coin.condition %>  </td>
                    <td class="currentcoinsales"> <%= coin.price %>  </td>
                    <td class="currentcoinsales"> <%= image_tag coin.picture, :class => "userupload" if coin.picture.attached? %></td>
                    <td class="currentcoinsales"> <%= link_to "buy", coindenomination_path(@session_id) %>  </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div>
        <%= render "shared/footer" %>
    </div>

</body>

