
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>

<div>
<h1> INSERT SEARCH BAR <h1>
</div>
<div>
<h1> Post Decimal Coins </h1>
</div>
    <h2> 5 Cent Coin </h2>
    <%= image_tag "5cent"%>

</div>
<div>
    <h2> 10 Cent Coin </h2>
    <%= image_tag "10cent"%>
</div>
<div>
    <h2> 20 Cent Coin </h2>
    <%= image_tag "20cent"%>
</div>
<div>
    <h2> 50 Cent Coin </h2>
    <%= image_tag "50cent"%>
</div>
<div>
    <h2> 1 Dollar Coin </h2>
    <%= image_tag "onedollar"%>
</div>
<div>
     <h2> 2 Dollar Coin </h2>
     <%= image_tag "twodollars"%>
</div>

<div>
    <%= render "shared/footer" %>
</div>
</body>
