
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>

<div>
        <%= render "shared/search_box" %>
    </div>
<div>
<h1> Post Decimal Coins </h1>
</div>
    <h2> 5 Cent Coin </h2>
    <%= link_to (image_tag "5cent"), coindenomination_path("5 cents") %>

</div>
<div>
    <h2> 10 Cent Coin </h2>
    <%= link_to (image_tag "10cent"), coindenomination_path("10 cents") %>
</div>
<div>
    <h2> 20 Cent Coin </h2>
    <%= link_to (image_tag "20cent"), coindenomination_path("20 cents") %>
</div>
<div>
    <h2> 50 Cent Coin </h2>
    <%= link_to (image_tag "50cent"), coindenomination_path("50 cents") %>
</div>
<div>
    <h2> 1 Dollar Coin </h2>
    <%= link_to (image_tag "onedollar"), coindenomination_path("1 dollar") %>
</div>
<div>
     <h2> 2 Dollar Coin </h2>
     <%= link_to (image_tag "twodollars"), coindenomination_path("2 dollars") %>
</div>

<div>
    <%= render "shared/footer" %>
</div>
</body>
