<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>

<div>
<h1> INSERT SEARCH BAR <h1>
</div>
<div>
<h1> Pre Decimal Coins </h1>
</div>
    <h2> Half-Penny </h2>
    <%= link_to (image_tag "halfpenny"), coindenomination_path("half penny") %>

</div>
<div>
    <h2> Penny </h2>
    <%= link_to (image_tag "penny"), coindenomination_path("penny") %>
</div>
<div>
    <h2> Three Pence </h2>
    <%= link_to (image_tag "threepence"), coindenomination_path("three pence") %>
</div>
<div>
    <h2> Six Pence </h2>
    <%= link_to (image_tag "sixpence"), coindenomination_path("six pence") %>
</div>
<div>
    <h2> Shilling</h2>
    <%= link_to (image_tag "shilling"), coindenomination_path("shilling") %>
</div>
<div>
     <h2> Florin </h2>
     <%= link_to (image_tag "florin"), coindenomination_path("florin") %>
</div>
<div>
     <h2> Crown </h2>
     <%= link_to (image_tag "crown"), coindenomination_path("crown") %>
</div>
</body>