<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>

<div>
<h1> INSERT SEARCH BAR <h1>
</div>
<div>
<h1> Pre Decimal Coins </h1>
</div>
    <h2> Half-Penny </h2>
    <%= image_tag "halfpenny"%>

</div>
<div>
    <h2> Penny </h2>
    <%= image_tag "penny"%>
</div>
<div>
    <h2> Three Pence </h2>
    <%= image_tag "threepence"%>
</div>
<div>
    <h2> Six Pence </h2>
    <%= image_tag "sixpence"%>
</div>
<div>
    <h2> Shilling</h2>
    <%= image_tag "shilling"%>

</div>
<div>
     <h2> Florin </h2>
     <%= image_tag "florin"%>
</div>
<div>
     <h2> Crown </h2>
     <%= image_tag "crown"%>
</div>
</body>